body {
  width: 95% ;
  min-width: 950px;
  max-width: 1200px;
  padding: 0px;
  margin: 0;
    margin: 0 auto;
  height: 600px;
/*  overflow: hidden;*/
 /* outline: 1px groove blue;*/
}

.wrapper {
    width: 100%;
    height: 800px;
    margin: 0 auto;
     /*outline: 1px groove blue;*/
     background: linear-gradient(rgb(255,255,184), rgb(132,208,208));
    box-shadow: 4px 4px 2px 4px rgb(0,71,71),
    -4px -4px 2px 4px rgb(86,86,15);
}


.header {
  width: 900px;
  height: 100px;
  margin: 30px auto 0 auto;

 /* background: transparent;*/
  /*outline: 1px groove blue;*/
}

.game-field {
  width: 900px;
  height: 600px;
  margin: 0px auto 0 auto;
    padding: 0;
  position: relative;
    border-width:  2px;
    border-color: rgb(163,163,92) rgb(42,118,118) rgb(42,118,118) rgb(163,163,92);
    border-style: groove ridge ridge groove;
  /* float: left; */
  overflow: hidden;
    box-shadow: 8px 8px 4px 8px rgb(0,71,71),
    -8px -8px 4px 8px rgb(86,86,15);
  /*background: radial-gradient(white, rgb(255,255,184));*/
}

.help {

    margin: 30px auto 0 auto;
}

.help-table {
    width: 400px;
    text-align: center;
    margin: 0 auto;
}



.menu {
    width: 900px;
    height: 600px;
  margin: 0 auto 0 auto;
  padding-top: 50px;
 /* vertical-align: center;*/
    position: absolute;
    background: rgba(202, 202, 202, 0.6);
    /*opacity: 0.99;*/
    z-index: 99;
}

.menu-selected span {
    border: 3px groove transparent;
    box-shadow: 2px 4px 4px 2px rgb(178,178,178);

}


.menu-list {
    width: 400px;
  list-style: none;
  margin: 0 auto 0 auto;
  padding: 50px 0;
}

.menu li{
  text-align: center;
  font-size: 50px;
}

.menu li span {
   padding: 0 10px;
    display: inline-block;
    position: relative;
    color: rgb(42,118,118);
    text-shadow: 2px 2px 3px rgb(6,82,82);
}

.menu-header, .info-message {
  font-size: 150px;
    color: rgb(167,0,0);
    text-shadow: 4px 4px 5px rgb(80,6,6);
  margin: 0 auto 0 auto;
  text-align: center;
}

.menu-marker {
    width: 30px;
    height: 30px;
    position: absolute;
    left: -50px;
    top: 14px;
    padding: 0;
    margin: 0;
    background: radial-gradient(white, #FF2323);
    border-radius: 30px;
    border-width: 3px;
    border-color: #a60000;
    border-style: groove ridge ridge groove;
}

.info {
    width: 900px;
    height: 600px;
   /* padding: auto;*/
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
   /* opacity: 0.5;*/
    display: table-cell;
    vertical-align: middle;
    background: rgba(202, 202, 202, 0.5);
}

.info-message {

   /* margin-block-end: 0;
    margin-block-start: 0;*/
    /*height: 160px;*/

  /*  color: #00cc33;*/
    line-height: 1;




   /* position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;*/




}
/* .menu-field {
  width: 150px;
  height: 600px;
  position: relative;
  border-top: 3px groove #2A7676;
  border-right: 3px groove #2A7676;
  border-bottom: 3px groove #2A7676;
  float: right;
  overflow: hidden;
}

#game-field2 {
  margin-top: 20px;
} */

/* #menu {
  margin-left: 1010px;
  width: 200px;
  height: 300px;
  padding: 10px;
  
} */

.ball{
  width: 24px;
  height: 24px;
  position: absolute;
  padding: 0;
  margin: 0;
  background: radial-gradient(white, #FF2323);
  border-radius: 24px;
  border-width: 3px;
  border-color: rgb(167,0,0);
  border-style: groove ridge ridge groove;
}



.block {
  width: 44px;
  height: 14px ;

  position: absolute;
  font-size: 10px;
 /*  left: 200px;
 top: 150px; */
}

.bricks {
  background: radial-gradient(white, #A77B5C);
  border: 3px groove #986C4D;
}

.bricks-2 {
  background: radial-gradient(white, #D3D3D3);
  border: 3px groove #CACACA;
}

.penoblock {
  background: radial-gradient(white, rgb(29,40,163));
  border: 3px groove rgb(6,6,115);
}



.board {
  height: 20px;
  width: 124px;
  border-top-left-radius: 65px 13px;
  border-top-right-radius: 65px 13px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  left: 0px;
  top:0px;
  border: 3px groove #2A7676;
  background: radial-gradient(white, rgb(132,208,208));
  z-index: 98;
  overflow-scrolling: touch;

}

.board-radius {
  height: 164px;
  width: 164px;
  border-radius: 82px;
  position: absolute;
  left: -40px;
  top:0px;
  border: 3px groove #2A7676;
 /* border: 3px groove #2A7676;
  background: radial-gradient(white, #84D0D0);*/
  z-index: 98;
}

.board-radius-2 {
  height: 192px;
  width: 200px;
  border-radius: 200px;
  position: absolute;
  left: -56px;
  top: 20px;
  border: 3px groove #2A7676;
  z-index: 99;
}

ul button {
  width: 100px;
  text-align: center;
}

.point {
    width: 1px;
    height: 1px;
    border-radius: 0.5px;
    background: black;
    position: absolute;
}