body {
    width: 1000px;
    height: 200px;
    border: 5px groove #0D8AA2;
    position: relative;
}

.board {
    width: 100px;
    height: 30px;
    position: absolute;
    left: 300px;
    top: 100px;
}

.board-top {
    width: 100px;
    height: 15px;
    position: relative;
    /*outline: 1px solid blue;*/

    overflow: hidden;
}

.board-bottom {
    width: 94px;
    height: 15px;
    position: relative;
   /* outline: 1px solid blue;*/
    border-right: 3px groove #0D8AA2;
    border-left: 3px groove #0D8AA2;
    background: radial-gradient(white, #62DFF7);
    overflow: hidden;
}

.radius-top {
    width: 194px;
    height: 194px;
    border-radius: 97px;
    border: 3px groove #0D8AA2;
    left: -51.5px;
    top:3px;
    background: radial-gradient(white, #62DFF7);
    position: absolute;
}

.radius-bottom {
    width: 194px;
    height: 194px;
    border-radius: 97px;
    border: 3px groove #0D8AA2;
    left: -51.5px;
    top:3px;
    background: white;
    position: absolute;
}

#boardWrapper {
    height: 15px;
    width:1000px;
    bottom: 10px;
}

#boardWrapper .board {
    height: 15px;
    background: radial-gradient(white, #62DFF7);
    border-radius: 10px;
    border: 3px groove #0D8AA2;
}